* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #121213;
    color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    text-align: center;
    padding: 50px;
}

.header-profile-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header, .footer {
    background-color: #111;
    padding: 20px;
}
.header h1 {
    font-size: 3em;
    line-height: 1.4;
    letter-spacing: 1.2px;
}
.header h1 span {
    color: #ff4900;
}
.header .name {
    font-size: 1.5em;
    margin-top: 10px;
}
.profile-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 20px;
}
.button {
    background-color: #ff4900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}
.buttons {
    margin-top: 1rem;
}
.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    text-align: justify;
}
.stat {
    margin: 0 20px;
}
.projects {
    margin-top: 5rem;
}
.projects h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
.projects h2 img {
    margin-left: 10px;
}
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 4rem;
    position: relative;
}

.project {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 300px;
    height: 25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px #ff4900;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.project img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.project-text {
    flex: 1;
}
.project h3 {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: justify;
}
.project h4 {
    margin-top: 10px;
    text-align: justify;
    font-weight: 200;
}
.project p {
    color: #bbb;
    margin-top: 8px;
    font-size: 1rem;
    line-height: 1.2rem;
}
.project img {
    width: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
.skills {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.skill {
    margin: 0 20px;
}
.fa-arrow-down {
    margin-left: 10px;
}
.who {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.who-desc {
    max-width: 74%;
    text-align: justify;
    margin-top: 4.5rem;
    margin-bottom: 6rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
}
.download-banner {
    display: flex;
    justify-content: center;
}
.download-banner a {
    background-color: #ff4900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}

.mt3 {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 90%;
    }
}