<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Développeur Full Stack Jérôme Albrecht</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="app-container">
      
        <div class="generate-button mb2"> <button onclick="toggleProfile()">Afficher/Masquer Mon Profil</button> </div>
        <div class="letter-container" id="profileSection">
            <!-- Mon profil -->
            <div class="profile">
                <div class="infos">
                    <h1>Jérôme Albrecht</h1>
                    <h2>Développeur Full Stack, 4 années d'expérience</h2>
                    <p>Contact : <a href="tel:+33699126183">0699126183</a> </p>
                    <p>Mail : <a href="mailto">jerome.albrecht80@gmail.com</a> </p>
                    <p>Véhiculé</p>
                    <p>Mobilité : Paris, Lille, Amiens</p>

                    <a class="a-linkedin" href="https://www.linkedin.com/in/devwebapi/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="48" height="48" focusable="false">
                            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                        </svg> Linkedin
                    </a>
                </div>
                <div class="candidat-picture"> 
                    <img src="../static/img/Profile_Jerome_A.webp" alt="Photo de profil de Jérôme Albrecht"> 
                </div>
            </div>
        </div>

        <p class="p-subtitle">Générer parmi mes compétences :</p>
        <div class="generate-button"> <button onclick="genererTourMagique()">Générer</button> </div>
        <div id="tourMagiqueContainer">
            <p class="p-magical" id="tourMagique"></p>
        </div>
        <div class="github-button mt2 mb2"> <a href="https://github.com/jeromealbrecht/candidature_dev_fullstack_jerome_albrecht/tree/master" target="_blank"> <button>Voir le code de ce site sur GitHub</button> </a> </div>
        <p class="p-center">Projet de simulation de modules IoT auto générés en PHP</p>
        <div class="github-button mt2 mb2"> <a href="https://github.com/jeromealbrecht/IoT-app" target="_blank"> <button>Voir le code du projet PHP sur GitHub</button> </a> </div>
        <p class="p-center">Projet de site vitrine pour un studio d'enregistrement</p>
        <div class="github-button mt2 mb2"> <a href="https://couleurdeson.fr/" target="_blank"> <button>Voir le site vitrine du studio</button> </a> </div>
        <div class="generate-button mb2 mt2">
            <button onclick="toggleLetter()">Afficher/Masquer La lettre</button> 
        </div> <!-- Contenu de la lettre -->
        <div class="letter-container" id="letterSection">
            <h2>Objet : Candidat Développeur Web Full Stack</h2>
            <p>Bonjour 🚀,</p>
            <p>Je suis Jérôme Albrecht, un développeur fort de quatre années de pratique dans le monde du développement.</p>
            
            <p>Plus récemment, j'ai élargi mes compétences en ajoutant le langage Python et le Framework Angular JS à mon répertoire. <br>
            Cette extension me permet de créer des solutions back-end puissantes, ajoutant une nouvelle dimension à mon savoir-faire.</p>
            
            <p>Mon appétit pour la connaissance m'a conduit à explorer de nouveaux horizons technologiques, en utilisant des outils tels que Firebase, Vercel, et en participant à des formations sur ES6 JavaScript. Mon approche est pragmatique, anticipant les tendances technologiques futures.</p>
            
            <p>Au cours de mes expériences professionnelles, j'ai eu l'opportunité de concevoir et de développer des modules et des routes réutilisables sur Angular. Ces modules et services ont amélioré la modularité des logiciels et facilité l'interaction entre le front-end et le back-end. L'implémentation de routes a permis une gestion efficace des interactions et des manipulations de données, garantissant une expérience utilisateur fluide et cohérente.</p>
            
            <p>Ma valeur ajoutée réside dans mon autonomie, ma capacité à expérimenter dans la résolution de problèmes, et mon envie d'apprendre constamment. J'apprécie de travailler avec de bons mentors et d'utiliser des technologies telles que Docker, Firestore, et bien plus encore.</p>
            
            <p>Je suis enthousiaste à l'idée de contribuer à votre équipe et d'apporter mon expérience dans le cadre de projets passionnants.</p>
        </div>
        <div class="generate-button mb2 mt2"> 
            <button onclick="toggleAbout()">Afficher/Masquer à propos</button> 
        </div> 
        <!-- Resume -->
        <div class="letter-container" id="presenceDoc">
            <!-- Résumé du profil professionnel -->
            <h2>Profil Professionnel</h2>
            <p>Je possède une solide expérience en JavaScript (JS) et TypeScript (TS), qui me permet de développer des applications web robustes et performantes.</p>
        
            <p>Mes compétences incluent :</p>
            <ul>
                <li><strong>Docker</strong> : Maîtrise de la containerisation des applications, facilitant le déploiement et la gestion des environnements de développement.</li>
                <li><strong>onRender et Vercel</strong> : Utilisation pour le déploiement et l'hébergement de projets, assurant une mise en production rapide et efficace.</li>
                <li><strong>Python et Flask</strong> : Création de backends puissants et flexibles, adaptés à diverses applications web.</li>
            </ul>
        
            <p>Lors de mon expérience avec le studio d'enregistrement <a href="https://couleurdeson.fr/">Couleur de son</a> près d'Amiens, j'ai pu appliquer mes compétences techniques pour contribuer à des projets audio de haute qualité. Le studio offre divers services, tels que l'enregistrement d'artistes, l'édition audio, le mixage de projets musicaux, la voix-off et le mastering. Travailler avec Couleur de son m'a permis de perfectionner mes compétences en gestion de projets et en communication au sein d'une équipe créative et dynamique.</p>
        
            <p>Grâce à mes compétences transversales, je suis capable de bien communiquer et de collaborer efficacement au sein de l'équipe. Mon expérience diversifiée m'a appris à adapter mes compétences techniques à différents contextes, facilitant ainsi la coopération et l'atteinte des objectifs communs.</p>
        
            <p>En résumé, mes compétences en JavaScript, TypeScript, Docker, onRender, Vercel, Python et Flask, combinées à mon expérience avec Couleur de son, me permettent de contribuer de manière significative à tout projet de développement web ou de gestion de projets audio. Mon aptitude à bien communiquer et à travailler en équipe me rend particulièrement apte à réussir dans des environnements collaboratifs.</p>
        </div>
        <div class="letter-container">
            <p>
                J'aimerais ajouter ma baguette magique à cet ensemble extraordinaire de tours de prestige.
                <br> Rejoignez-moi dans cette aventure fantastique où le code devient une véritable magie, et où chaque ligne écrite est un enchantement pour l'utilisateur final !
            </p>
            <p>
                Merci de m'avoir transporté dans votre monde magique. J'ai hâte de vous montrer mes tours lors d'un entretien. 🎩✨
            </p>
            <p>
                Cordialement,
                <br> Jérôme Albrecht
            </p>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>