<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV en Ligne - Jérôme Albrecht</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/css/all.css">
</head>
<body>
    <div class="container">
        <div class="header">

            <div class="header-profile-parent">
                <h1>Creating <span>meaningful</span>
                    <br>
                    <span>impactful</span> experiences
                </h1>
                <div class="header-profile">
                    <p class="name">Full Stack Developper - <span>Jérôme Albrecht</span></p>
                </div>
            </div>
            <div class="buttons">
                <a href="#" class="button">JS/TS</a>
                <a href="" class="button">4 Years</a>
                <a href="#exp" class="button">Experiences</a>
            </div>

        </div>
        <div class="who">
            <h2>Qui suis-je ?</h2>
            <p class="who-desc">
                Développeur Full-Stack, mon rôle est d'apporter des solutions
                <br>
                afin de répondre aux besoins urgents des utilisateurs.
                <br> 
                <br> 
                Grâce à mon expérience en relation client acquise via mon studio d'enregistrement,<br>
                j'ai appris à comprendre et à répondre aux attentes spécifiques des clients.<br><br>
                Mon expertise en création d'outils web et en développement d'applications, 
                avec une appétence particulière pour le Back-end, 
                me permet de fournir des solutions efficaces et adaptées.
                <br>
                <br>
                Ce CV est déployé sur une infrastructure utilisant Python, le serveur d'applications Gunicorn et la plateforme de déploiement Render.
            </p>
        </div>
        <div class="stats">
            <div class="stat">
                <h2>Front</h2>
                <p>JavaScript</p>
                <p>TypeScript</p>
                <p>Svelte</p>
                <p>Angular</p>

            </div>
            <div class="stat">
                <h2>Back</h2>
                <p>Node JS</p>
                <p>Python</p>
            </div>
            <div class="stat">
                <h2>Cloud</h2>
                <p>Firebase Auth</p>
                <p>Firebase Collections</p>
            </div>
        </div>
      
        <div id="exp" class="projects">
            <h2>Latest projects <i class="fa-solid fa-arrow-down"></i></h2>
            <div class="project-container">
                <div class="project">
                    <div class="project-content">
                        <img src="../static/img/bpm_converter.png" alt="BPM Converter">
                        <div class="project-text">
                            <h3>Outil Java</h3>
                            <p>Développement d'un outil de conversion de BPM en durée de temps ou de notes</p>
                            <p>conversion en fichier executable</p>
                            <div class="download-banner">
                                <a href="https://couleurdeson.fr/BpmConverter.exe" download="">Télécharger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-content">
                        <img src="../static/img/angular-node.jpeg" alt="Angular Node Developer">
                        <div class="project-text">
                            <h3>Angular Node Developer</h3>
                            <p>Application de gestion d'élevage</p>
                            <p>NetInfosMedias - 2024</p>
                            <p>Mongo DB</p>
                            <p>Docker</p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-content">
                        <a href="https://couleurdeson.fr/" target="_blank">
                            <img class="project-img" src="../static/img/lestudio.jpg" alt="Studio de Mixage">
                        </a>
                        <div class="project-text">
                            <h3>Gestion d'un studio de mixage</h3>
                            <p>Développement de la relation client</p>
                                <p>Recherche et Développement Web</p>
                                <p>Installation d'un chatbot Tidio</p>
                                <p>Résolution de problèmes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="skills mt3">
            <div class="skill">
                <h2>Communication</h2>
            </div>
            <div class="skill">
                <h2>Teamwork</h2>
            </div>
            <div class="skill">
                <h2>Problem-Solving</h2>
            </div>
        </div>

        <div id="train" class="projects">
            <h2>Latest training <i class="fa-solid fa-arrow-down"></i></h2>
            <div class="project-container">
                <div class="project">
                    <div class="project-content">
                        <div class="project-text">
                            <h3>Concepteur D'application<br> - en cours
                                <br>
                                Titre Pro Bac + 3
                                <br>
                            </h3>
                            <p>Algorithmie</p>
                            <p>JAVA SE - EE - Spring Boot</p>
                            <p>Symfony</p>
                            <p>Gestion de projet: Jira</p>
                            <p>Projets en équipe</p>
                            <p>Docker - Virtualisation Linux</p>
                            <p>CI/CD Continious Integration</p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-content">
                        <div class="project-text">
                            <h3>Les bases de Python - 2023</h3>
                            <p>Application de gestion d'élevage</p>
                            <p>NetInfosMedias - 2024</p>
                            <p>Mongo DB</p>
                            <p>Docker</p>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="project-content">
                        <div class="project-text">
                            <h3>Formation React-Native</h3>
                            <p>École La Manu, Amiens</p>
                            <p>Formation au développement mobile:</p>
                            <p>Méthodes Agiles, Maquettage UI,</p>
                            <p>Acquérir les principes de la programmation orientée objet,</p>
                            <p>Maîtriser le Framework React-Native</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p class="mt3">&copy; Développé par Jérôme Albrecht. No fake certified</p>
        </div>
    </div>
</body>
</html>